
* {
  box-sizing: border-box
}


img {
   width: 100%;
   display: block;
}

body {
  background: #69A77C;
}

#app-contaner {
  font-family: "sans-serif";
}


/* NAV */

.nav_button {
  position: relative;
  top:0;
  left: 15px;
  background: #000;
  color: #fff;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 1000;
  margin: 0;
}

/*Thanks Travis!*/

input[type="checkbox"].nav__toggler{
	display: block;
	position: fixed;
	top: 6px;
	left: 30px;
	z-index: 1001;
	opacity: 0;
}


input[type="checkbox"].nav__toggler:checked + .nav__mobile-options{
	display: block;
}

.nav__mobile-options{
	display: none;
	position: fixed;
	top: 50px;
	left: 15px;
	z-index: 1002;
	list-style-type: none;
	background: #fff;
	min-width: 150px;
	font-size: 21px;
  padding: 0;
}

.nav__mobile-options li {
  color: #000;
  border: 1px solid #ddd;
}

.navbar-default {
  display: none;
}

/* page title */

.info-title {
  text-align: center;
  padding-bottom: 40px;
}

.info-title__heading {
  color: #B0B9B2;
  font-size: 9px;
  padding: 12px;
  text-transform: uppercase;
  border: 2px solid #DADADA;
  margin: 0 auto;
  max-width: 275px;
  position: relative;
  top: -15px;
  letter-spacing: 1.25px;
}

/* Jumbotron Header */

.main-info__whole {
  text-align: center;
}

.main-info__header {
  font-size: 33px;
  color: #222;
  padding: 0 10px 20px;
  font-family: "Palatino";
}

.main-info__whole p{
  color: #8A8A8A;
  font-size: 15px;
  padding: 0 18px 15px;
}

/* Profiles */

.main-profile {
  margin: 0 auto;
  width: 290px;
  text-align: center;
}

.thumbnail {
  padding: 0;
}

.main-profile .profile-info{
  padding: 20px;
  font-weight: 400;
}

.profile-info h3 {
  font-size: 16px;
  margin: 0;
  padding-bottom: 5px;
  font-weight: 400;

}

.profile-info p {
  margin: 0;
  padding: 1px 0;
  font-size: 13px;
}

.profile-info a {
  color: #68DC7C;
}


/*Small */

.small-but-mighty {
  display: none;
}

/* Art Grant */

.art-grant-info {
  color: #fff;
  font-weight: 200;
  text-align: center;
  padding: 40px;
}

.art-grant-info h1 {
  font-size: 36px;
  font-family: "Palatino";
  font-weight: 100;
  letter-spacing: 2px;
}

.art-grant-info  p {
  font-size: 12px;
  line-height: 2;
}

/* ART PROJECTS!!!!!!!!!! */

.art-projects {
  text-align: center;
  font-size: 15px;
  position: relative;
}

.project-info h4 {
  font-size: 12px;
  color: #9A9A9A;
  margin-bottom: 2px;
}

.project-info p {
  color: #E4E4E4;
  font-size: 12px;
}

.project-info i {
  position: absolute;
  right: 30px;
  bottom: 50px;
  color: #D4D4D4;
  font-weight: 100;
}

.thumbnail__text {
  display: none;
}



/* JOIN DA TEAM */

.team {
  text-align: center;
  background-image: url(../assets/solrod-drawingboard-background.jpg);
  background-position: center;
  background-size: cover;
  padding: 120px 0;
  margin-top: 50px;
}

.team_link {
  width: 100%;
  padding: 30px;
  background: #6B819D;
  font-size: 12px;
  border: none;
  outline: 0;
}

.team_link a {
  text-decoration: none;
  color: #DEE3EA;
}

/* Social Links */

.social {
  background: #fff;
  padding: 38px 10px;
  text-align: left
}

.social i {
  color: #BCBCBC;
  font-size: 30px;
  letter-spacing: 30px;
}

@media screen and (min-width:768px) {

  .nav_button {
    display: none;
  }

  .navbar-default {
    display: block;
    background: #000;
    color: #fff;
    padding: 10px 0;
    border: none;
  }

  .navbar-header {
    width: 100%;
    padding: 5px 2px 0;
  }

  .nav-bar__left {
    display: inline-block;
    width: 50%;
  }

  .nav-bar__right {
    display: inline-block;
    width: 50%;
  }

  .navbar-brand {
    float: none;
    line-height: 0;
    font-size: 15px;
  }

  .navbar-brand img {
    display: inline-block;
    width: 15px;
    margin-left: 10px;
  }


/* Heading */

  .info-title {
    padding-top: 40px;
  }

/* Jumbotron */

  .main_info {
    width: 1140px;
    margin: 0 auto 40px;
  }

  .main-info__whole h1 {
    font-size: 45px;
  }

  .main-info__whole p {
    padding: 0 200px 30px;
    line-height: 2;
  }


/* Small But Mighty */


  .small-but-mighty {
    display: block;
    background-image: url(../assets/solrod-team-background.jpg);
    background-position: center;
    background-size: cover;
    padding: 75px 0;
    margin-top: 100px;
  }

  .small-but-mighty img {
    margin: 0 auto;
    width: 325px;
  }

/* ART PROJECTS */

  .project-info i {
    bottom: 50px;
    font-size: 12px;
  }

  .thumbnail__text {
    display: block;
    color: #D4D4D4;
    font-weight: 100;
    font-size: 12px;
    position: absolute;
    bottom: 48px;
    right: 45px;
  }


/* TEAM */

.team {
  margin-bottom: 0;
}

.team_link {
  width: 350px;
}

/* SOCIAL */

  .social {
    text-align: right;
    padding-right: 200px;
  }



}
